<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant</title>
    <link rel="stylesheet" href="../static/pagina.css">
</head>
<body>

    <header id="letras">
        <h1>Acceso concedido</h1>
    </header>

   

    <div>
        <video autoplay muted loop id="myVideo">
            <source src="../static/Fondo.mp4" type="video/mp4">
        </video>
    </div>

    <nav>
        <a href="/entrada/encuesta" target="_blank">Formulario</a>
        <div class="dropdown">
            <a href="#" target="_blank">About me</a>
            <div class="dropdown-content">
                <a href="/logins" target="_blank">Get Admail</a>
                <a href="/addmail" target="_blank">Add Mail</a>
            </div>
        </div>
    </nav>
    <div>
          <!-- Botón de cerrar sesión -->
       <a href="/" class="cerrar-sesion">Cerrar Sesión</a>
    </div>
    <div>
        <div class="letrasdown">
            <h2>VALORANT</h2>
            <h3>Ready for play?</h3>
        </div> 
     
    </div>


    

</body>
</html>
